# Core functionality - changes here should be rare!
/src/app.py                   @LFASProtocol
/src/backend/database.py      @LFASProtocol
/src/backend/routers/auth.py  @LFASProtocol

# The frontend will need refactored soon to be more object oriented.
/src/static/   @LFASProtocol
